.list-cntr {
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
    margin-left: 40px;
    align-items: center;
    margin-top: 30px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding-top: 15px;
    width: 260px;
}